
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.env
allure-results/
allure-report/
.states/
test-data/users-data/*.json
test-data/repos-data/*.json